.dropdown-menu {
  top: 100%;
  right: 0;
  display: block;
  min-width: 80px;
  background-color: #1b1b1b;
  border: 1px solid #1b1b1b;
  z-index: 100;
}

.dropdown-item {
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.dropdown-item:hover {
  background-color: #121212;
}
